/* Universal selector to reset browser defaults */
* {
  margin: 0%;
  padding: 0%;
}

/* body selector */
body {
  background-color: #fefaed;
}

/* wrapper class */
#wrapper {
  display: grid;
  grid-template-areas:
    "header  header nav"
    "banner banner banner"
    "main main main"
    "footer footer footer";
}

/* header selector*/
header {
  grid-area: header;
  padding: 0.5em;
  margin: 0.5em;
  font-family: courier, monospace;
  font-weight: 900;
  color: #48220d;
  font-size: 1em;
  /* border: 2px solid red; */
}

/* nav selector for navigation menu */
nav {
  grid-area: nav;
  font-family: courier, monospace;
  font-weight: 900;
  color: #48220d;
  font-size: 1em;
  /* border: 2px solid blue; */
}

/* naviation ul */
nav ul {
  padding: 0.5em;
  margin: 0.5em;
  /* creating ul flex  so that its items can be align right*/
  display: flex;
  align-content: flex-end;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid blue; */
}

nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  font-family: courier, monospace;
  font-weight: bold;
  color: #48220d;
  font-size: 1.5em;
  /* border: 2px solid rgb(34, 33, 33); */
}
